<div class="container">
	<div class="row">
	  <div class="col-md-12">
	    <div class="grid simple">
	      <div class="grid-title">
	        <h4>New
	          <span class="semi-bold">Services</span>
	        </h4>
	      </div>
				<%= render 'form', service: @service %>

	    </div>
	  </div>
	</div>
</div>




