
<div class="welcome pt-4">
	<%= render 'layouts/carousel' %>
</div>
<div class="popular_cources p-5">
	<%= render 'products/index' %>
</div>
<div class="popular_events p-5">
  <%= render 'sales/index' %>
</div>