
  <div class="container">
    <div class="row">
      <div class="col-md-8 pt-5">
        <div class="grid simple">
          <div class="grid-title">
            <h4>
              <span class="semi-bold">Editing Contact</span>
            </h4>
          </div>

					<%= render 'form', contact: @contact %>

				</div>
			</div>
		</div>
	</div>