<div class="container">
	<div class="row">
	  <div class="col-md-12 pt-5">
	    <div class="grid simple">
	      <div class="grid-title">
	        <h4>Edit
	          <span class="semi-bold"><%= params[:controller].humanize %></span>
	        </h4>
	      </div>
			<%= render 'form', about: @about %>

	    </div>
	  </div>
	</div>
</div>


