<div class="container">
	<div class="row">
	  <div class="col-md-12">
	    <div class="grid simple">
	      <div class="grid-title">
	        <h4>Edit
	          <span class="semi-bold">Repair & Troubleshooting</span>
	        </h4>
	      </div>
			<%= render 'form', product: @product %>

	    </div>
	  </div>
	</div>
</div>


